* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_10 {
  width: 100%;
  height: 1024px;
  background: rgba(244,237,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v74_2 {
  width: 100%;
  height: 100px;
  background: rgba(232,176,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v14_28 {
  width: 100%;
  color: rgba(194,101,34,1);
  position: absolute;
  top: 160px;
  margin: auto;
  font-family: Source Serif 4;
  font-weight: Regular;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}
#v14_30 {
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 330px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v14_31 {
  width: 544px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 570px;
  left: 430px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}

/*
.button {
  background-color: #BCC99B; 
  border: none;
  color: black;
   width: 740px;
  height: 130px;
  padding: 40px 40px;
  text-align: center;
  display: inline-block;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 50px;
  margin: 2px 2px;
  top: 719px;
  left: 350px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  border-radius: 12px;
} */

#button1 {
  background-color: #e8b0af;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0px 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#button1:hover {
  background-color: #e9699c;
}

#button1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}  